/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}


@media (prefers-color-scheme: light) {
  .page{
  --accent-color: #FF0070;
  --bg-color: #000028;
  --header-color: #000028;
  --text-color: #F1B2CE;
  --heading-color: #DB00FF;
  --high-header-color: #FF0070;
  --display-state: flex;
  --main-font: 'IBM Plex Mono';
  --bg-image: url(../images/cover-image-dark.png);
  }
  }