/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root{
  
  --accent-color: #FF0070;
  --bg-color: #000028;
  --header-color: #000028;
  --text-color: #F1B2CE;
  --heading-color: #DB00FF;
  --high-header-color: #FF0070;
  --display-state: flex;
  --main-font: 'IBM Plex Mono';
  --bg-image: url(../images/cover-image-dark.png);
} 