/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --header-color: #000028;
  --text-color: #f1b2ce;
  --heading-color: #db00ff;
  --high-header-color: #ff0070;
  --outline-color: #ff0070;
  --display-state: flex;
  --main-font: "IBM Plex Mono";
  --bg-image: url(../images/cover-image-dark.png);
}
